{% extends 'master.html' %}
{% load staticfiles %}

{% block head %}
<style>
    .quick-actions_homepage {
        margin-bottom: 10px
    }

    @media ( max-width: 585px ) {
        .input-group span.input-group-btn,.input-group input,.input-group button{
            width: 100%;
            border-radius: 0;
            margin: 0;
        }

        .input-group {
            position: relative;
        }

        .input-group span.data-up{
            position: absolute;
            top: 0;
        }

        .input-group span.data-dwn{
            position: absolute;
            bottom: 0;
        }

        .form-control.text-center {
            margin: 34px 0;
        }

        .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group{
            margin-left:0;
        }
    }
</style>
{% endblock %}

{% block content %}

<div id="content-header">
    <div id="breadcrumb">
        <a href="/" title="Dashboard" class="current"><i class="fa fa-home"></i> Home</a>
        {% if time_remaining %}
            Next Scheduled in
            <div class="js-countdown"></div>
        {% endif %}
    </div>
</div>

<div class="container-fluid">

    <div class="quick-actions_homepage">
        {% if temp_control.manuel %}
            <button class="btn btn-block btn-danger js-manual" data-state="0">Manual Off</button>
        {% else %}
            <button class="btn btn-block btn-success js-manual" data-state="1">Manual On</button>
        {% endif %}


        {% if temp_control.manuel_off %}
            <button class="btn btn-block btn-danger js-manual-off" data-state="0">im sitting in the spa button Off</button>
        {% else %}
            <button class="btn btn-block btn-success js-manual-off" data-state="1">im sitting in the spa button On</button>
        {% endif %}
    </div>

    {% for thermometer in thermometers  %}
        <div class="row-fluid">
            <div class="span3">
                <div class="widget-box">
                    <div class="widget-content text-center js-thermometer" data-id="{{ thermometer.id }}">
                        <h4>{{ thermometer.name }}</h4>
                        <p>{{ thermometer.description }}</p>
                        <div class="pad-all">
                            <h4 class="text">
                                <i class="fa fa-thermometer-three-quarters"></i> <span class="js-thermometer-temp">0</span>&#x2103;
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <h5>Temperature Control</h5>
                </div>
                <div class="widget-content">

                    <h3>Temp</h3>
                    <div class="input-group number-spinner">
                        <span class="input-group-btn data-dwn">
                            <button class="btn btn-default btn-info" data-dir="dwn"><span class="fa fa-minus"></span></button>
                        </span>
                        <input type="text" class="form-control text-center js-temp" value="{{ temp_control.temp }}" min="20" max="60" data-inc="1" disabled>
                        <span class="input-group-btn data-up">
                            <button class="btn btn-default btn-info" data-dir="up"><span class="fa fa-plus"></span></button>
                        </span>
                    </div>

                    <h3>Range</h3>
                    <div class="input-group number-spinner">
                        <span class="input-group-btn data-dwn">
                            <button class="btn btn-default btn-info" data-dir="dwn"><span class="fa fa-minus"></span></button>
                        </span>
                        <input type="text" class="form-control text-center js-range" value="{{ temp_control.range }}" min="1" max="10" data-inc="0.5" disabled>
                        <span class="input-group-btn data-up">
                            <button class="btn btn-default btn-info" data-dir="up"><span class="fa fa-plus"></span></button>
                        </span>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {% if pins.count == 0 %}
        <div class="row-fluid">
            <div class="span3">
                <div class="widget-box">
                    <div class="widget-content">
                        <h2>Looks like you have no pins set up. Create a new one <a href="{% url 'pin_create' %}">here.</a></h2>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

</div>

{% endblock %}

{% block javascript %}
<script src="{% static 'js/jquery.countdown.min.js' %}"></script>
<script>
    setTimeout(refreshThermometer, 3000);

    function refreshThermometer(){
        $('.js-thermometer').each(function(){
            var id = $(this).data('id');
            var item = $(this);
        
            $.ajax({
                type: "POST",
                url: '{% url 'get_temp' %}',
                dataType: "json",
                data: { id : id, csrfmiddlewaretoken : '{{ csrf_token }}' }
            }).done(function(data) {

                if(data.success){
                    item.find('.js-thermometer-temp').html(data.temp);
                    setTimeout(refreshThermometer, 10000);
                }

            }).fail(function(e){
                console.log("something went wrong", e);
            });
        });
    }

    function update(){
        var range = $('.js-range').val();
        var temp = $('.js-temp').val();

        $.ajax({
            type: "POST",
            url: '{% url 'maintain_update' %}',
            dataType: "json",
            data: { csrfmiddlewaretoken : '{{ csrf_token }}', range : range, temp : temp }
        }).done(function(data) {

            if(!data.success){
                alert("Oh No!! Something when wrong");
            }

        }).fail(function(e){
            alert("Oh No!! Something when very wrong");
        });
    }

    $(".number-spinner button").mousedown(function () {
        var btn = $(this);
        inputChange(btn);
    });

    function inputChange(btn){
        var input = btn.closest('.number-spinner').find('input');
        btn.closest('.number-spinner').find('button').prop("disabled", false);
        var inc = parseFloat(input.data('inc'));

        if (btn.attr('data-dir') == 'up') {

            if ( input.attr('max') == undefined || parseFloat(input.val()) < parseInt(input.attr('max')) ) {
                input.val(parseFloat(input.val())+inc);
            } else {
                btn.prop("disabled", true);
            }

        } else {

            if ( input.attr('min') == undefined || parseFloat(input.val()) > parseInt(input.attr('min')) ) {
                input.val(parseFloat(input.val())-inc);
            } else {
                btn.prop("disabled", true);
            }
        }

        update();
    }

    $('.js-manual').click(function(){
        var state = $(this).data('state');

        if(state){
            $(this).removeClass('bg-lo').addClass('bg-lg').html(' Manual Off').data('state', !state);
        } else {
            $(this).addClass('bg-lg').removeClass('bg-lo').html(' Manual On').data('state', !state);
        }

        $.ajax({
            type: "POST",
            url: '{% url 'manuel_toggle' %}',
            dataType: "json",
            data: { csrfmiddlewaretoken : '{{ csrf_token }}', state : state }
        }).done(function(data) {

            if(!data.success){
                alert("Oh No!! Something when wrong");
            }
        }).fail(function(e){
            alert("Oh No!! Something when very wrong");
        });

    });

    $('.js-manual-off').click(function(){
        var state = $(this).data('state');

        if(state){
            $(this).removeClass('bg-lo').addClass('bg-lg').html(' im sitting in the spa button Off').data('state', !state);
        } else {
            $(this).addClass('bg-lg').removeClass('bg-lo').html(' im sitting in the spa button On').data('state', !state);
        }

        $.ajax({
            type: "POST",
            url: '{% url 'manuel_toggle_off' %}',
            dataType: "json",
            data: { csrfmiddlewaretoken : '{{ csrf_token }}', state : state }
        }).done(function(data) {

            if(!data.success){
                alert("Oh No!! Something when wrong");
            }
        }).fail(function(e){
            alert("Oh No!! Something when very wrong");
        });

    });

    {% if time_remaining %}
        $('.js-countdown').countdown("{{ time_remaining }}", function(event) {
            $(this).text(event.strftime('%D days %H:%M:%S'));
        });
    {% endif %}
</script>
{% endblock %}