<!DOCTYPE html>
<html lang="en">
    <head>
        {% load staticfiles %}
        <title>PiControl</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap-responsive.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/matrix-style.css' %}" rel="stylesheet">
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div id="header">
          <h1><a href="/">PiPool</a></h1>
        </div>

        <div id="user-nav" class="navbar navbar-inverse">
          <ul class="nav">
            <li  class="dropdown" id="profile-messages" ><a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="fa fa-user"></i>  <span class="text">Welcome {{ user.get_username|title }}</span><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-user"></i> My Profile</a></li>
                <li class="divider"></li>
                <li><a href="/logout"><i class="fa fa-sign-out"></i> Log Out</a></li>
              </ul>
            </li>
            <li class=""><a title="" href="/logout"><i class="fa fa-sign-out"></i> <span class="text">Logout</span></a></li>
          </ul>
        </div>

        <div id="sidebar"><a href="#" class="visible-phone"> <i class="fa fa-bars"></i></a>
          <ul>
            <li class="js-menu"><a href="/"><i class="fa fa-home"></i> <span>Dashboard</span></a> </li>
            <li class="js-menu"> <a href="{% url 'pins' %}"><i class="fa fa-map-pin"></i> <span>Pins</span></a> </li>
            <li class="js-menu"> <a href="{% url 'schedule' %}"><i class="fa fa-calendar"></i> <span>Schedule</span></a> </li>
          </ul>
        </div>

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>

        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/matrix.js' %}"></script>

        {% block javascript %}
        {% endblock %}
    </body>
</html>
