{% extends 'master.html' %}

{% block content %}

    <div class="container">
        <div class="row">

            <div class="col-md-6 col-lg-3">
                <div class="panel text-center">
                    <div class="panel-body">
                        <h4 class="mar-no">Git Status</h4>
                    </div>

                    <div class="pad-all">
                        <p class="text-muted">
                            {% if status %}
                                Update Available
                            {% else %}
                                Up to date
                            {% endif %}
                        </p>

                        <div class="pad-btm">
                            {% if status %}
                                <button class="btn btn-success js-update">Update</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block javascript %}
<script>

    $('.js-update').click(function(){

        $(this).attr('disabled', true);

        $.ajax({
            type: "POST",
            url: {% url 'update' %},
            dataType: "json",
            data: { csrfmiddlewaretoken : '{{ csrf_token }}' }
        }).done(function(data) {

            if(data.success){
                window.location.reload();
            } else {
                alert("Oh No!! Something when wrong");
            }

        }).fail(function(e){
            alert("Oh No!! Something when very wrong");
        });

    });


</script>
{% endblock %}