<!DOCTYPE html>
<html lang="en">
<head>

    <!-- start: Meta -->
    <meta charset="utf-8">
    <title>PiPool - 500</title>
    <!-- end: Meta -->
    <style type="text/css">
        html {
            text-align: center;
            font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
            font-weight: 100;
            color: #808080;
            margin-top: 30px;
        }
        h1, h3{
            font-weight: 100;
        }
    </style>

</head>
<body>
<h1>;(</h1>

<h3>We are experiencing an internal server error, an error report has been generated and will be fixed shortly.</h3>
<h2>Error code: 500</h2>
</body>
</html>