[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=pi
Group=www-data
WorkingDirectory=/home/pi/scripts/PiController
ExecStart=/usr/local/bin/gunicorn PiControl.wsgi:application --workers 3 --bind unix:/home/pi/scripts/PiController/run/gunicorn.sock --name pi_controller

[Install]
WantedBy=multi-user.target